.full-height {
  height: 100%;
}

.hidden-menu-content {
  padding-left: 10px;
}

#banner-viewer {
  background: red;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  font-size: 13px;
}