<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
        <label for="oldPassword">Palavra-passe antiga</label>
        <input id="oldPassword" type="text" formControlName="oldPassword" pInputText>
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="newPassword">Palavra-passe nova</label>
      <input id="newPassword" type="newPassword" formControlName="newPassword" pInputText>
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="newPasswordConfirmation">Confirmação palavra-passe nova</label>
      <input id="newPasswordConfirmation" type="newPasswordConfirmation" formControlName="newPasswordConfirmation" pInputText>
    </div>
  </div>

  <!-- Submit -->
  <p-button
    type="submit"
    label="Gravar"
    [disabled]="!changePasswordForm.valid"
  ></p-button>
</form>