<div class="p-grid p-nogutter p-justify-center p-align-center">
  <div class="p-xl-6 p-lg-6 p-md-8 p-sm-10 wrapper" (keyup.enter)="onClickLogin()">
    <div class="p-grid p-justify-center p-align-center">
      <div class="p-col-12 logo-col">
        <img class="logo-small" width="200" src="assets/images/logo.png">
      </div>

      <div class="p-col-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"
            ><i class="pi pi-user"></i
          ></span>
          <input
            id="input-username"
            type="text"
            size="30"
            pInputText
            [(ngModel)]="username"
            placeholder="Username"
          />
        </div>
      </div>

      <div class="p-col-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
          <input
            id="input-password"
            type="password"
            size="30"
            pInputText
            [(ngModel)]="password"
            placeholder="Password"
          />
        </div>
      </div>

      <div class="p-col-6">
        <button
          pButton
          type="button"
          label="{{ 'Login' | translate }}"
          class="ui-button-raised"
          (click)="onClickLogin()"
          [disabled]="isBusy"
        ></button>
      </div>
    </div>
    <div class="p-grid p-justify-center p-align-center">
      <div>
        <p id="support">Para criar uma conta, solicite no chat.</p>
      </div>
    </div>
  </div>
</div>